<?xml version="1.0"?>
<configuration>
   <!-- hier muessen alle sections, die nachher verwendet werden (hier nur KukaRoboter.SmartHMI.Menu) definiert sein -->
   <!-- diese Zeile ist eine 1:1 Kopie aus der SmartHMI.exe.Standard.config und darf nicht veraendert werden -->
   <configSections>
      <section name="KukaRoboter.SmartHMI.Menu" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
   </configSections>

   <!--Menu -->
   <KukaRoboter.SmartHMI.Menu type="KukaRoboter.SmartHMI.UIFramework.Menu.MenuRootImpl, SmartHMI">
      <!--
      MainMenu ist das Hauptmenu.
      Wenn man sich in ein bestimmtes bestehendes Menu reinhaengen will, muss der Weg dorthin beschrieben sein.
      Dazu die SystemName aus der SmartHMI.exe.Standard.config verwenden. Nicht die DisplayName, die sich jederzeit aendern koennten!!!
      -->
      <MenuRoot SystemName="MainMenu">
         <MenuFolder SystemName="Config">
            <MenuFolder SystemName="ConfigStatKeys">

               <!-- 
               Ein MenuItem hat mindestens einen DisplayName.
               Dieser besteht aus Sprachdatenbankmodul und SprachdatenbankKey, also z.B. Modul#Key
               Soll der Eintrag nicht uebersetzt werden, dann ist ein % voranzustellen, z.B. %Tucker
               Eine MergeOrder kann optional mit angegeben werden, um die Reihenfolge zwischen den verschiedenen gemergten configs festzulegen
               -->

				<!-- status keys			-->
				<!-- for					-->
				<!-- DAI_[Techkuerzel]	 	-->	

				
		


            </MenuFolder>
         </MenuFolder>
      </MenuRoot>

      <!-- Das ganz untere Menue -->
      <MenuRoot SystemName="CommandMenu">
         <!-- Alles danach kommt dann unter Usertech-"Ordner" -->
         <!-- MenuFolder DisplayName="MenuBar#CmdUserTech" MergeOrder="1100" -->


  		<!-- menu item 						-->
		<!-- for							-->
		<!-- DAI_STANDARD					-->
		
	<!-- Velocity    				-->
	<!-- 				      			-->	
	<!-- Hauptknoten Velocity	-->
	<MenuFolder DisplayName="DAI_MSG_LIB#Velocity" MergeOrder="2500">
        <MenuItem DisplayName="DAI_MSG_LIB#Set" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Velocity;SetVel</Argument>
          </CommandCall>
        </MenuItem>
         <MenuItem DisplayName="DAI_MSG_LIB#Reset" MergeOrder="200">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Velocity;ResetVel</Argument>
          </CommandCall>
        </MenuItem>
  </MenuFolder>
      
      
		
	<!-- 				      			-->
	<!-- PLUS    				-->
	<!-- 				      			-->	
	<!-- Hauptknoten PLUS	-->
	<MenuFolder DisplayName="DAI_MSG_LIB#PLUS" MergeOrder="2500">	
        <MenuItem DisplayName="DAI_MSG_LIB#Init" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;PLUS;Init</Argument>
          </CommandCall>
        </MenuItem>
        <MenuItem DisplayName="DAI_MSG_LIB#Send" MergeOrder="200">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;PLUS;Send</Argument>
          </CommandCall>
        </MenuItem>    
  </MenuFolder>
  			
	<!-- 				      			-->
	<!-- Kollision    				-->
	<!-- 				      			-->	
	<!-- Hauptknoten Kollisiion	-->
	<MenuFolder DisplayName="DAI_MSG_LIB#Koll" MergeOrder="2500">
		<!-- Unterknoten von Kollision -->		
        <MenuItem DisplayName="DAI_MSG_LIB#Koll" MergeOrder="100">
          <CommandCall Target="LegacyLoader.InvokeModuleProc">
            <Argument Name="PlugInName">INLINEFORM</Argument>
            <Argument Name="ProcID">2011</Argument>
            <Argument Name="ParamList">KUKATPUSER;Collision;Monitoring_1_On</Argument>
          </CommandCall>
        </MenuItem>
  </MenuFolder>
  
	


  
		
		


      </MenuRoot>

   </KukaRoboter.SmartHMI.Menu>

</configuration>