<?xml version="1.0"?>
<!--====================================*)
;(* Modul:Air Spot weld                 *)
;(* GUI Version: KRC 4_ 8.2.xx          *)
;(* Process: Daimler Spot Weld Air Gun  *)
;(* Company: Daimler AG                 *)
;(* Department: PKL/AST                 *)
;(* Name: B.Steffens  2012-06-01        *)
;(*Ver. 1.0 - Initial Release  @B       *)
;(*====================================-->
<configuration>
	<configSections>
		<!--AF sections
		<section name="Ade.AdeComponentFramework.Components" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
		<section name="Ade.AdeComponentFramework.CommonResources" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
		<section name="KukaRoboter.SmartHMI.ViewConfiguration" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
		-->
		<!--Custom sections-->
		<section name="KukaRoboter.SmartHMI.Menu" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
	</configSections>

	<KukaRoboter.SmartHMI.Menu type="KukaRoboter.SmartHMI.UIFramework.Menu.MenuRootImpl, SmartHMI">
		<!-- Start ILF Commands-->
		<MenuRoot SystemName="CommandMenu">
			<MenuFolder DisplayName="MenuBar#CmdMotionSpot" MergeOrder="1100">
				<MenuFolder DisplayName="DAI_AG_Spot#AG_CmdDress" MergeOrder="310">

					<MenuItem DisplayName="DAI_AG_Spot#AG_DressLin" MergeOrder="320">
						<CommandCall Target="LegacyLoader.InvokeModuleProc">
							<Argument Name="PlugInName">INLINEFORM</Argument>
							<Argument Name="ProcID">2011</Argument>
							<Argument Name="ParamList">KUKATPUSER;TIP;LIN_</Argument>
						</CommandCall>
					</MenuItem>
					<MenuItem DisplayName="DAI_AG_Spot#AG_DressPTP" MergeOrder="330">
						<CommandCall Target="LegacyLoader.InvokeModuleProc">
							<Argument Name="PlugInName">INLINEFORM</Argument>
							<Argument Name="ProcID">2011</Argument>
							<Argument Name="ParamList">KUKATPUSER;TIP;PTP_</Argument>
						</CommandCall>
					</MenuItem>
				</MenuFolder>
			</MenuFolder>
		</MenuRoot>
		<!-- End ILF Commands-->
		<!--<KukaRoboter.SmartHMI.Menu type="KukaRoboter.SmartHMI.UIFramework.Menu.MenuRootImpl, SmartHMI"> -->
		<!-- Stat Key Bar Start -->
		<MenuRoot SystemName="MainMenu">
			<MenuFolder DisplayName="MenuBar#Config">
				<MenuFolder DisplayName="MenuBar#ConfigStatKeys">
					<MenuItem DisplayName="DAI_AG_Spot#AG_STUDKEYBar" MergeOrder="2000">
						<CommandCall Target="LegacyLoader.InvokeModuleProc">
							<Argument Name="PlugInName">USERSTATKEYBAROCX</Argument>
							<Argument Name="ProcID">11</Argument>
							<Argument Name="ParamList">KUKATPUSER;SPOTkey.STATBAR_GUN10</Argument>
						</CommandCall>
					</MenuItem>
				</MenuFolder>
			</MenuFolder>
		</MenuRoot>
		<!-- Stat Key Bar End -->

	</KukaRoboter.SmartHMI.Menu>
</configuration>

