<?xml version="1.0"?>
<configuration>
   <!-- ### Section handler ###-->
   <!-- Every section used in this file must have a registered section handler -->
   <configSections>
      <!-- Custom sections -->
      <section name="KukaRoboter.SmartHMI.CommonLegacySoftkeyBarSets" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser"/>
      <section name="KukaRoboter.SmartHMI.Menu" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
   </configSections>

   <!-- SKBs -->
   <KukaRoboter.SmartHMI.CommonLegacySoftkeyBarSets type="KukaRoboter.SmartHMI.LegacySupport.Internal.LegacySoftkeyBarSet, KukaRoboter.SmartHMI.LegacySupport">
      <LegacySoftkeyBarSet SystemName="KUKATPUSER">
         <SoftkeyBar SystemName="SIMPLE_SKB">
            <Button Position="0" DBKey="EditCancel" ProcID="2001" ModuleIdent="INLINEFORM"/>
				<!--Demo for TouchUp Sk when ILF is open -->
				<!--CommandButton SystemName="BtnTOUCH" Position="5" DisplayName="TouchUP">
					<CommandCall Target="LegacyLoader.InvokeModuleProc">
					    <Condition State="KrcState.ProgramSelected" Result="True" />
						<Argument Name="PlugInName">TECHPACK</Argument>
						<Argument Name="ProcID">2100</Argument>
						<Argument Name="ParamList">KUKATPUSER;1;TOUCH</Argument>
					</CommandCall>
				</CommandButton-->
            <Button Position="6" DBKey="EditOk" ProcID="2000" ModuleIdent="INLINEFORM"/>
         </SoftkeyBar>
      </LegacySoftkeyBarSet>
   </KukaRoboter.SmartHMI.CommonLegacySoftkeyBarSets>

   <!--Menu -->
   <KukaRoboter.SmartHMI.Menu type="KukaRoboter.SmartHMI.UIFramework.Menu.MenuRootImpl, SmartHMI">
   <MenuRoot SystemName="MainMenu">
      <MenuFolder SystemName="Config">
            <MenuFolder DisplayName="MenuBar#ConfigMiscellaneous">
               <MenuItem DisplayName="MenuBar#ConfigUserTechReInit">
					<CommandCall Target="LegacyLoader.InvokeModuleProc" Right = "UM20">
						<Condition State="KrcState.ModeOp" Result="T1|T2" />
						<Argument Name="PlugInName">TECHPACK</Argument>
						<Argument Name="ProcID">2100</Argument>
						<Argument Name="ParamList">KUKATPUSER;0;ReInit</Argument>
					</CommandCall>
                </MenuItem>
            </MenuFolder>
        </MenuFolder>
    </MenuRoot>
   </KukaRoboter.SmartHMI.Menu>

</configuration>
